/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 @import "compass/reset";

 * {
  font-weight: 100;
  // font-family: "Helvetica", Helvetica, Arial, sans-serif;
  font-family: 'mplus-1c-thin';
}

.user_icon img {
  border-radius: 50%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

nav {
  background: #333;
  h1 {
    color: #fff;
    font-size: 30px;
    margin: 0;
    font-family: 'mplus-1c-thin';
  }
}
.contents {
  margin: 20px auto;
  width: 80%;
  max-width: 1000px;
  h3 {
    font-size: 20px;
    a {
      font-weight: 100;
      font-family: 'mplus-1m-light';
      color: rgb(13, 177, 211);
      font-size: 20px;
      text-align: center;
      border-radius: 10px;
      letter-spacing: 2px;
    }
  }
  .row {
    margin: 20px auto;
    width: 100%;
    float: left;
    clear: both;
    .column_left {
      float: left;
      width: 20%;
    }
    .column_right {
      float: right;
      width: 80%;
      .thumbnail {
        float: left;
      }
      .content {
        width: 500px;
        margin: 20px;
        font-family: sans-serif;
        font-weight: 100;
        font-size: 14px;
        float: left;
      }
    }
  }
}