#suggest {
    position: absolute;
    background-color: #FFFFFF;
    border: 1px solid #CCCCFF;
    font-size: 90%;
    width: 218px;
    div {
        display: block;
        width: 218px;
        overflow: hidden;
        white-space: nowrap;
        padding: 2px 4px;
    }
    div.select {
        color: #FFFFFF;
        background-color: #3366FF;
    }
    div.over {
        background-color: #99CCFF;
    }
}
